<html>
<head>
  <title>{{title}}</title>

  <script type="text/javascript">
    async function register() {
      const mo = await import("/static/webauthn-json.browser-ponyfill.js");

      let request = await fetch('/api/register/begin', {
        method: 'POST',
      });
      let json = await request.json();
      //console.log(typeof mo);
      //console.log(typeof mo.parseCreationOptionsFromJSON);
      let options = mo.parseCreationOptionsFromJSON(json);
      document.getElementById('initial').style.display = 'none';
      document.getElementById('started').style.display = 'block';

      let response = await mo.create(options);
      let result = await fetch('/api/register/complete', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
	body: JSON.stringify(response),
      });

      let stat = result.ok ? 'successful' : 'unsuccessful';
      //alert('Registration ' + stat + ' More details in server log...');
      //window.location = '/';
    }

    async function authenticate() {
      const mo = await import("/static/webauthn-json.browser-ponyfill.js");

      let request = await fetch('/api/authenticate/begin', {
        method: 'POST',
      });
      if(!request.ok) {
        throw new Error('No credential available to authenticate!');
      }
      let json = await request.json();
      let options = mo.parseRequestOptionsFromJSON(json);

      let response = await mo.get(options);
      let result = await fetch('/api/authenticate/complete', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
	body: JSON.stringify(response),
      });

      let stat = result.ok ? 'successful' : 'unsuccessful';
      //alert('Authentication ' + stat + ' More details in server log...');
      //window.location = '/';
    }

    //window.start = start; /*authenticate || register*/
  </script>

</head>
<body>
  <div id="initial">
    <button onclick="register();">Register</button>
    <button onclick="authenticate();">Authenticate</button>
  </div>

  <div id="started", style="display: none;">
    <p>Touch your authenticator device now...</p>
    <a href="/">Cancel</a>
  </div>

</body>
</html>
